.number {
    font-size: 6rem;
}
.self_order_success_loader {
    z-index: 10;
}

// bashar
.order-number-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-number {
    font-size: 4em;
    font-weight: bold;
    line-height: 1;
}
.action-buttons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.payment-options {
    margin-bottom: 20px;
    text-align: center;
    background-color: white; /* Ensure background is white */
    margin-left: auto;
    margin-right: auto;
}
.payment-option button {
    margin-top: 10px;
}
.payment-option-icon {
  font-size: 2em;
  margin-right: 10px;
}
.confirmation-page h3 {
    font-size: 1.3rem;
    margin-bottom: 15px;
}
.confirmation-page h1 {
     font-size: 2.5rem;
}
.amount-due {
    font-size: 1.5rem;
    margin-bottom: 0rem; /* Adjust to 0 to close the gap*/
    text-align: center;
    display: inline;
}
.pay-at-cashier-button {
    background-color: #bbbbbb;
    color: white;
    border: none;
    padding: 0.5rem 1rem; /* Adjust padding to make button smaller */
    font-size: 1rem; /* Reduce font size */
}
.pay-at-cashier-button:hover {
    background-color: #969696;
}
.payment-options h3 {
    margin-bottom: 10px;
}

.action-button {
    flex-grow: 1; /* Ensure buttons take up available space */
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden;
    text-overflow: ellipsis; /* Clip text with an ellipsis if it overflows */
}
.confirmation-page {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 768px) {
     .action-button {
          font-size: 1rem;
     }
     .payment-options h3 {
           font-size: 1.3rem;
     }
     .confirmation-page {
        padding-left: 10px;
        padding-right: 10px
    }
}

/* Card styles */
.card {
  background-color: #fff; /* White background */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  padding: 20px;
}
.currency-symbol{
   display: inline;
}
.pickup-message {
  font-size: 0.7rem; /* Smaller font size */
  opacity: 0.7; /* Lower opacity */
}
